<div class="page-header">
    <h1>目次</h1>
</div>

<div class="page-header">
    <h2>なんかいろいろ</h2>
    <p>目次とかだすんです？</p>
</div>

<div class="row">
    <div class="col-md-15">
        <table class="table">
            <thead>
                <tr>
                    <th>タイトル1</th>
                    <th>タイトル2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>API</td>
                    <td><a href="/api/test">/api/test</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
