<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.4" targetFramework="net452" userInstalled="true" />
  <package id="jQuery" version="1.9.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net452" userInstalled="true" />
  <package id="Nancy" version="1.2.0" targetFramework="net452" userInstalled="true" />
  <package id="Nancy.Owin" version="1.2.0" targetFramework="net452" userInstalled="true" />
  <package id="Nancy.Viewengines.Razor" version="1.2.0" targetFramework="net452" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" userInstalled="true" />
  <package id="Owin" version="1.0" targetFramework="net452" userInstalled="true" />
  <package id="Topshelf" version="3.2.0" targetFramework="net452" userInstalled="true" />
</packages>